<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @list.style %>
</p>

<p>
  <strong>Link:</strong>
  <%= @list.link %>
</p>

<p>
  Description:
  <%= @list.content %>
</p>

<div id="list-photo">
  <div>
    Photo of the list..
  </div>
  <div>
    <%= cl_image_tag @list.photo.key, height: 432, width: 532, crop: :fill %>
  </div>
</div>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<h1><%= @list.name %></h1>
<h3><%= @list.style %></h3>
<p>Made by <%= @list.user.name %> with love!</p>
<div class="item">
  <iframe width="560" height="315" src="<%= @list.link %>"
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
