<div class="list-box" id="admin-box">
  <% if current_user && current_user.admin? %>
    <h1 id="admin-not">hello admin friend!</h1>
  <% elsif user_signed_in? %>
     <h1 id="admin-not">You are not the admin..</h1>
  <% else %>
    <h1 id="admin-not">sign in to save your lists</h1>
  <% end %>
</div>

<!-- Looper for every list! -->
<div class="list-box">

  <% User.first.lists.each do |list| %>
    <div id="landing-cards">
      <div class="neon-info">
        <%= list.name + " | " + list.style %>
      </div>

      <div id="listcard" class="btn-over-pic">
        <div class="click-me"><%= button_to "Listen to me!", list, class: "btn btn-success" %></div>
        <%= cl_image_tag list.photo.key, height: 432, width: 532, crop: :fit %>
      </div>
    </div>
  <% end %>
</div>

<!--Here comes the links to each user dashboard!-->

<div class="list-box">
  <% if User.present? %>
    <% @users.each do |user| %>
      <div id="usr-lists">
        <%= button_to user.name + "testing..(here should be link_to #{user.name} list!)", user_path(user.id), class: "btn btn-danger" %>
      </div>
    <% end %>
  <% else %>
    <p>doesn't work..</p>
  <% end %>
</div>

<!--trying to link to each user dashboard-->


<!--here ends the testing-ground-->

<% if policy(List).create? %>
  <%= link_to 'New List', new_list_path %>
<% end %>




