<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>name | username: <%= @user.name %></h1>

<h1>email: <%= @user.email %></h1>

<h1>first name: <%= @user.first_name %></h1>

<h1>last name: <%= @user.last_name %></h1>

<h1>status: <%= @user.status %></h1>
