<!-- Button trigger modal
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Log in
</button>
-->

<!-- Modal -->
<div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">close login window</h4>
      </div>
      <div class="modal-body">
        <!-- HERE COMES THE DEVISE FORM!!! !-->

        <div id="new-session">
          <div id="login_title">
            <h2>Log in hello</h2>
          </div>

          <div id="login-form">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
              </div>

              <div class="field">
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </div>

            <div>
              <div class="actions" >
                <%= f.submit "Log in" %>
                <span data-toggle="modal" data-target="#myModal">
                  <%= link_to 'Sign up', new_user_registration_path, 'data-toggle' => "modal", 'data-target' => "#signup", class: "nav-link" %>
                </span>
              </div>

              <% render "devise/shared/links" %>
            </div>

          <% end %>

        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" data-submit="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

