<!DOCTYPE html>
<html>
  <head>
    <title>Tunes Of Freedom ;)</title>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <!-- for the quote generator..-->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Code+Pro'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.2.6.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/jquery-ui-personalized-1.5.2.packed.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/sprinkle.js"></script>
    <!-- end here -->


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style type = "text/css">
    </style>
  </head>

  <body>
    <%= render 'shared/login' %>
    <%= render 'shared/signup' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/banner' %>
    <%= yield %>
  </body>


  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <footer>
    <%= render 'shared/footer' %>
  </footer>

</html>



